<% content_for :title do "#{@product.name} - " end %>
<% content_for :pagename do 'edit-user-farm-product' end %>

<div class="content row">
  <%= render partial: 'account/shared/menu' %>
  <div class="small-12 medium-8 columns end">
    <div class="box">
      <h2><%= @product.name %></h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
