body.new-user-farm-product,
body.edit-user-farm-product {
  form #product_price,
  form #product_price_unit {
    display: inline-block;
    vertical-align: bottom;
  }
  form #product_price {
    @include breakpoint(small) {
      width: 40%;
    }
    @include breakpoint(medium) {
      width: 10%;
    }
  }
  form #product_price_unit {
    @include breakpoint(small) {
      width: 40%;
    }
    @include breakpoint(medium) {
      width: 20%;
    }
  }
}
