<div class="small-12 medium-3 large-2 columns">
  <ul class="vertical menu box">
    <%= menu_box_item "Profil public", edit_user_profile_path %>
    <%= menu_box_item "Paramètres", edit_user_registration_path %>
    <% if current_user.farm %>
      <li class="separator"></li>
      <%= menu_box_item "Produits et points de vente de la ferme", user_farm_path %>
      <%= menu_box_item "Paramètres de la ferme", edit_user_farm_path %>
    <% end %>
  </ul>
</div>

