$box-color: $light-gray;
$box-background: $white;
$alert-box-color: $alert-color;

.box {
  background: $box-background;
  border: 1px solid $box-color;
  padding: 0.8rem;
  margin-bottom: 2rem;
  h2 {
    background: $box-color;
    padding: 0.4rem 0.8rem;
    margin: -0.8rem -0.8rem 0.8rem;
    @include breakpoint(medium) {
      font-size: 1.8rem;
    }
  }
  &.menu {
    padding: 0;
    li.separator {
      background: $box-color;
      height: 1px;
    }
    a {
      white-space: normal;
    }
  }
  &.alert {
    border: 1px solid $alert-box-color;
    h2 {
      background: $alert-box-color;
      color: foreground($alert-box-color);
    }
  }
}
