$content-background: #eeeeee;

body {
  background: url(cork-wallet.png);
}

header {
  background: $primary-color;
  user-select: none;
  h1 {
    line-height: 3rem;
    img {
      height: 2.5rem;
    }
  }
  #hdr-menu {
    margin-top: 9px;
    @include breakpoint(small only) {
      li {
        display: block;
        text-align: center;
      }
    }
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        background: darken($primary-color, 5%);
      }
      &.i-am-a-farmer {
        background: #b2b212;
        margin-top: 0;
        padding: 0.4rem 0.8rem;
      }
    }
  }
}

.flash.row {
  position: absolute;
  left: 0;
  right: 0;
}

.content.row {
  background: $content-background;
  padding: 2rem 1rem;
}

a:hover {
  text-decoration: underline;
}

footer {
  background: #b2b212;
  color: #ffffff;
  padding: 10px;
}
