<% content_for :title do "Nouveau point de vente - " end %>
<% content_for :pagename do 'new-user-farm-place' end %>

<div class="content row">
  <%= render partial: 'account/shared/menu' %>
  <div class="small-12 medium-8 columns end">
    <div class="box">
      <h2>Nouveau point de vente</h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
