body.farm {
  &:not(.is-owner) {
    header {
      h1 {
        line-height: 2rem;
        img { height: 1.5rem; }
      }
      #actions {
        .action {
          margin-top: 0;
          @include breakpoint(small only) {
            i { font-size: 1rem; } }
        }
      }
    }
  }
  .banner {
    background-position: center;
    background-size: cover;
    height: 200px;
    position: relative;
    @include breakpoint(medium) {
      height: 555px; }
    h2 {
      font-family: 'Gloria Hallelujah', sans-serif;
      font-weight: bold;
      color: $white;
      text-align: center;
      text-decoration: underline;
      text-shadow: 0 0 4px $dark-gray;
      width: 100%;
      margin: 0;
      position: absolute;
      top: 1rem;
    }
    .banner-btns {
      height: 100%;
      position: relative;
    }
    .banner-btn {
      @include button(false, $light-gray, auto, $body-font-color, solid);
      @include button-click-effect(light);
      font-weight: normal;
      text-decoration: none;
      margin: 0;
      padding: 0.4em;
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      &.follow {
        @include button-style($alert-color, auto, $white);
        font-size: large;
        font-weight: bold;
      }
      &.update-banner {
        bottom: 5rem; }
      &.remove-banner {
        bottom: 3rem; }
    }
  }
  .farm-row {
    @extend .row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .content-edit {
      display: none;
      margin: 3rem 0 1rem;
    }
    &.contact .content,
    &.contact .content-edit,
    &.text .content,
    &.text .content-edit {
      @extend .columns;
      @extend .small-12;
      @extend .medium-8;
      @extend .medium-centered;
    }
    &.contact .content,
    &.contact .content-edit {
      @extend .large-6;
    }
    &.map iframe {
      border: 0;
      width: 100%;
      height: 400px;
    }
  }
  .owner-ui {
    position: absolute;
    .rbutton {
      @include button(false, red, auto, white, solid);
      font-variant: small-caps;
    }
    .dropdown-pane {
      padding: 0;
    }
  }
}
