body.farm {
  &:not(.is-owner) {
    header {
      h1 {
        line-height: 2rem;
        img { height: 1.5rem; }
      }
      #actions {
        .action {
          margin-top: 0;
          @include breakpoint(small only) {
            i { font-size: 1rem; } }
        }
      }
    }
  }
  .banner {
    position: relative;
    h1 {
      font-family: 'Gloria Hallelujah', sans-serif;
      font-weight: normal;
      color: $white;
      text-align: center;
      text-decoration: underline;
      text-shadow: 0 0 4px $black;
      width: 100%;
      margin: 0;
      position: absolute;
      z-index: 999;
      top: 1rem;
    }
    .banner-btns {
      background-position: center;
      background-size: cover;
      position: relative;
      z-index: 99;
      height: 300px;
      @include breakpoint(medium) {
        height: 555px;
      }
    }
    .banner-btn {
      @include button(false, $light-gray, auto, $body-font-color, solid);
      @include button-click-effect(light);
      font-weight: normal;
      text-decoration: none;
      box-shadow: 0 0 4px $black;
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      margin: 0;
      @include breakpoint(medium) {
        right: 3rem; }
      &.follow {
        @include button-style($alert-color, auto, $white); }
      &.update-banner {
        bottom: 6rem; }
      &.remove-banner {
        bottom: 3.5rem; }
    }
    .infos {
      background: $body-background;
      padding: 1rem;
      @include breakpoint(medium) {
        box-shadow: 0 0 4px $black;
        max-width: 300px;
        position: absolute;
        z-index: 9999;
        left: 3rem;
        bottom: -1.5rem;
      }
      i {
        vertical-align: top;
        margin: 0 7px 0;
      }
      p {
        text-align: justify;
      }
      div {
        display: inline-block;
      }
    }
  }
  .farm-row {
    @extend .row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .content-edit {
      display: none;
      margin: 3rem 0 1rem;
    }
    &.contact .content,
    &.contact .content-edit,
    &.text .content,
    &.text .content-edit {
      @extend .columns;
      @extend .small-12;
      @extend .medium-8;
      @extend .medium-centered;
    }
    &.contact .content,
    &.contact .content-edit {
      @extend .large-6;
    }
    &.map {
      .content {
        @include breakpoint(medium) {
          position: relative;
          .infos {
            background: $body-background;
            box-shadow: 0 0 2px $light-gray;
            position: absolute;
            top: 42px;
            right: 70px;
            width: 300px;
            margin: 0;
            padding: 1rem;
          }
        }
        .infos {
          margin: 0 1rem 1rem;
          .ql-editor { height: auto; }
          .fi-marker { vertical-align: top; margin-right: 7px; }
          .addr { display: inline-block; }
        }
        iframe {
          border: 0;
          width: 100%;
          min-height: 400px;
        }
      }
    }
    &.image {
      background: black;
      height: 250px;
      @include breakpoint(medium) {
        height: 500px; }
      label {
        color: white;
        background: black;
        cursor: pointer;
        position: absolute;
        margin: 3rem;
        padding: 2rem;
      }
      input {
        display: none;
      }
      .content, .content-edit {
        background-position: center;
        background-size: cover;
        height: 100%;
        margin: 0;
      }
    }
  }
  .owner-ui {
    position: absolute;
    z-index: 100000;
    .rbutton {
      @include button(false, red, auto, white, solid);
      font-variant: small-caps;
    }
    .dropdown-pane {
      padding: 0;
    }
  }
}
