body.home {
  .subtitle {
    background-image: image-url(home-subtitle-bg);
    background-size: cover;
    color: $light-color;
    padding: 2rem 0;
    h2 {
      font-family: 'Kite One', sans-serif;
      text-shadow: 0 0 4px $dark-color;
    }
  }
  @media (min-width: $size-md) {
    header {
      background: none;
      position: absolute;
      width: 100%;
      .btn-link {
        text-shadow: 0 0 2px $dark-color;
        &:hover, &.active {
          text-shadow: 0 0 2px $light-color; }
      }
    }
    .subtitle {
      padding: 10rem 0;
    }
  }
  .search-form {
    padding: 1.5rem 0;
    input, select {
      border: none;
      border-bottom: 2px solid $gray-color-dark;
      vertical-align: bottom;
      padding: 0.4rem 0.4rem;
      width: 100%;
      &:focus, &:hover {
        border-bottom-color: $primary-color;
      }
    }
    #where-input {
      input { width: 68%; }
      select { width: 30%; }
    }
  }
  .search-result {
    #map {
      height: 500px;
      .iw {
        font-size: 16px;
        color: $dark-color;
        max-width: 250px;
        .title {
          font-weight: bold;
        }
        .desc {
          text-align: justify;
        }
      }
    }
    .no-query, .no-farm {
      text-align: center;
      font-family: 'Kite One', sans-serif;
      font-size: 1.8rem;
      padding: 1rem 1rem 4rem;
      .small { font-size: 1.3rem; }
    }
  }
}
