$search-form-background: #cc1446;

body.home {
  .subtitle {
    background-image: image-url(home-subtitle-bg);
    background-size: cover;
    color: $white;
    padding: 3rem 0;
    @include breakpoint(medium) {
      padding: 10rem 0;
    }
    h2 {
      font-family: 'Kite One', sans-serif;
      text-shadow: 0 0 4px $black;
    }
  }
  .search-form {
    @include breakpoint(medium) {
      padding: 1.5rem;
    }
    .columns {
      background: $search-form-background;
      box-shadow: 0 0 7px $search-form-background;
      input, select {
        display: initial;
        border: 1px solid darken($search-form-background, 10%);
        box-shadow: none;
        margin: 0.5rem 0;
        padding: 0.4rem 0.4rem;
      }
      &#where-input {
        input {
          width: 68%;
        }
        select {
          width: 30%;
          float: right;
        }
        @include breakpoint(small only) {
          padding-top: 0;
          input, select {
            margin-top: 0;
          }
        }
        @include breakpoint(medium) {
          padding-left: 0;
        }
      }
    }
  }
  .search-result {
    #map {
      height: 500px;
      .iw {
        font-size: 16px;
        color: $black;
        max-width: 250px;
        .title {
          font-weight: bold;
        }
        .desc {
          text-align: justify;
        }
      }
    }
    .no-location, .no-farm {
      text-align: center;
      font-family: 'Kite One', sans-serif;
      font-size: 3rem;
      margin: 5rem 1rem 10rem;
      .small { font-size: 1.5rem; }
    }
  }
}
