$search-form-background: #cc1446;

body.home {
  .subtitle {
    background-image: image-url(home-subtitle-bg);
    background-size: cover;
    color: $white;
    padding: 3rem 0;
    @include breakpoint(medium) {
      padding: 10rem 0;
    }
    h2 {
      font-family: 'Kite One', sans-serif;
      text-shadow: 0 0 4px $black;
    }
  }
  .search-form {
    @include breakpoint(medium) {
      padding: 1.5rem;
    }
    .columns {
      background: $search-form-background;
      box-shadow: 0 0 7px $search-form-background;
      input, select {
        display: initial;
        border: 1px solid darken($search-form-background, 10%);
        box-shadow: none;
        margin: 0.5rem 0;
        padding: 0.4rem 0.4rem;
      }
      &#where-input {
        input {
          width: 68%;
        }
        select {
          width: 30%;
          float: right;
        }
        @include breakpoint(small only) {
          padding-top: 0;
          input, select {
            margin-top: 0;
          }
        }
        @include breakpoint(medium) {
          padding-left: 0;
        }
      }
    }
  }
  .content {
    min-height: 300px;
  }
  .farms {
    padding: 0;
    ul {
      list-style: none;
      margin: 0;
      li {
        background: #e8e8e8;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        padding: 0.3rem 0.5rem;
        @include breakpoint(medium) {
          padding: 0.8rem 1rem;
        }
      }
    }
  }
}
