body.user-farm-subscribtions {
  .cl-list {
    h2 {
      position: relative;
      .cl-list-actions {
        position: absolute;
        right: 0.8rem;
        top: 0.4rem;
        label { font-size: $font-size; }
      }
    }
    .cl-list-content {
      height: 200px;
    }
  }
  .popover-container { left: -.8rem !important; }
}
