body.new-user-farm,
body.edit-user-farm {
  .warning.callout {
    margin-bottom: 1rem;
  }
}
.small-btn {
  @include button(false, $secondary-color, auto, $white, solid);
  @include button-click-effect(light);
  padding: 0.4em;
}
a.small-btn {
  text-decoration: none;
}

body.user-farm {
  #banner, #places, #products {
    margin-bottom: 1rem;
  }
  #banner {
    h3 a {
      margin: 0;
    }
    #banner-content {
      position: relative;
      background: center;
      height: 250px;
      #update-banner-btn, #remove-banner-btn {
        position: absolute;
        right: 0.4rem;
      }
      #update-banner-btn { top: 0.4rem; }
      #remove-banner-btn { top: 2.5rem; }
    }
  }
  #places, #products {
    .button-group {
      margin-bottom: 0.3rem;
    }
    .empty-list, .list {
      background: $box-background;
      border: 1px solid $box-color;
      width: 100%;
    }
    .list {
      td {
        border: 0;
        border-bottom: 1px solid $box-color;
        padding: 0.4rem 0.2rem;
        vertical-align: middle;
        &.checkbox {
          text-align: center;
          width: 2rem;
          input {
            margin: 0;
          }
        }
        .label {
          background: none;
          color: $body-font-color;
          font-weight: bold;
        }
      }
      td, td * {
        cursor: pointer;
      }
      tr.selected td {
        background-color: #eee;
      }
    }
  }
}
