<% content_for :head do %>
  <title><%= @place.name %> - Cestlocal.fr</title>
<% end %>

<% content_for :pagename do 'edit-user-farm-place' end %>

<div class="content row">
  <%= render partial: 'account/shared/menu' %>
  <div class="small-12 medium-8 columns end">
    <div class="box">
      <h2><%= @place.name %></h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
