<div class="small-12 medium-8 columns">
  <% if @farms.empty? %>
    <div class="farms is-empty">
      Aucun producteur trouvé :(
    </div>
  <% else %>
    <div class="farms">
      <ul>
        <% @farms.each do |farm| %>
          <li><%= link_to farm.name, farm_path(farm) %></li>
        <% end %>
      </ul>
    </div>
    <%= will_paginate @farms, :param_name => :p %>
  <% end %>
</div>
