<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Jaimelelocal.fr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag :landing, media: 'all' %>
  <%#= javascript_include_tag :landing %>
</head>
<body>
  <header>
    <h1><%= image_tag 'landing/logo.png', alt: 'Jaimelelocal.fr' %></h1>
  </header>
  <main>
    <p>Pour trouver <b>rapidement</b> et<br>
    <b>facilement</b> tous les producteurs <b>locaux</b>.<br><br>
    Ouverture en <b>printemps 2018</b> :)</p>
  </main>
  <footer>
    <div class="grass"></div>
    <div class="copyright">
      &copy; 2017 Jaimelelocal.fr
    </div>
  </footer>
</body>
</html>
