<div class="text-center" style="margin:7rem auto;padding:1rem;max-width:25rem;">
  <h2>Désinscrit !</h2>
  <p>C'est fait ! Votre adresse email à bien été supprimé de la liste des inscrits
  au producteur <a href="<%= farm_url @farm %>" style="font-weight:bold;"><%= @farm.name %></a>.</p>
</div>
