$very-light-gray: #eeeeee;
//$body-background: $very-light-gray;
$body-background: #FFF;

body {
  background: $body-background;
}

header {
  background: $primary-color;
  h1 {
    margin: 0;
    line-height: 4rem;
    img { height: 2.5rem; }
  }
  #actions {
    text-align: right;
    form {
      display: inline-block; }
    .action {
      @include button(false, $primary-color, darken($primary-color, 5%), $white, solid);
      @include button-click-effect;
      margin-top: 1rem;
      margin-bottom: 0;
      @include breakpoint(small only) {
        margin-top: 6px;
        padding: 0.4rem 0.6rem;
        i { font-size: 1.8rem; }
      }
      &.i-am-a-farmer {
        @include button-style($secondary-color, auto, $white);
      }
      span.dropdown:after {
        @include css-triangle(0.4em, $white, down);
        display: inline-block;
      }
    }
    #menu {
      z-index: 99999;
      padding: 0;
      li.user-name {
        @extend .show-for-small-only;
        padding: $menu-items-padding;
        text-transform: uppercase;
        font-weight: bold;
      }
      li {
        &.is-active a {
          background: none;
          color: $body-font-color;
          font-weight: bold;
        }
        &:hover {
          background: $very-light-gray;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }
}

.flash {
  position: absolute;
  z-index: 10000;
  top: 4rem;
  left: 0;
  right: 0;
  .callout {
    border: 0;
    color: $white;
    box-shadow: 0 0 2px $black;
    &.success {
      background: $success-color;
      border-top: 4px solid darken($success-color, 7%);
    }
    &.alert {
      background: $alert-color;
      border-top: 4px solid darken($alert-color, 7%);
    }
    button {
      color: $white;
    }
  }
}

.content.row {
  padding: 1rem 0;
}

a:hover {
  text-decoration: underline;
}

footer {
  background: $secondary-color;
  color: #ffffff;
  padding: 10px;
}
