$very-light-gray: #eeeeee;
$content-background: $very-light-gray;

body {
  background: image-url(cork-wallet);
}

header {
  background: $primary-color;
  h1 {
    line-height: 3rem;
    img {
      height: 2.5rem;
    }
  }
  #actions {
    text-align: right;
    margin-top: 9px;
    .action {
      @include button(false, $primary-color, darken($primary-color, 5%), $white, solid);
      @include button-click-effect;
      &.i-am-a-farmer {
        @include button-style($secondary-color, auto, $white);
      }
      span.dropdown:after {
        @include css-triangle(0.4em, $white, down);
        display: inline-block;
      }
    }
    .menu {
      li.user-name {
        @extend .show-for-small-only;
        padding: $menu-items-padding;
        text-transform: uppercase;
        font-weight: bold;
      }
      li {
        &.is-active a {
          background: none;
          color: $body-font-color;
          font-weight: bold;
        }
        &:hover {
          background: $very-light-gray;
        }
      }
    }
    a {
      text-decoration: none;
    }
  }
}

.flash {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  z-index: 10000;
  .callout {
    border: 0;
    color: $white;
    &.success {
      background: $success-color;
      border-top: 4px solid darken($success-color, 7%);
    }
    &.alert {
      background: $alert-color;
      border-top: 4px solid darken($alert-color, 7%);
    }
    button {
      color: $white;
    }
  }
}

.content.row {
  background: $content-background;
  padding: 1rem 0;
}

a:hover {
  text-decoration: underline;
}

footer {
  background: $secondary-color;
  color: #ffffff;
  padding: 10px;
}
