form {
  .required {
    color: $alert-color;
    font-weight: bold;
  }
  .field_with_errors input,
  .field_with_errors input:focus,
  .field_with_errors textarea,
  .field_with_errors textarea:focus,
  .field_with_errors select,
  .field_with_errors select:focus,
  .field_with_errors .input-group,
  .field_with_errors trix-editor {
    border-color: $alert-color !important;
    margin-bottom: -1px !important;
  }
  .field_error_message {
    background: $alert-color;
    color: $white;
    padding: 0 0.5rem;
    &.after-input-group {
      margin-top: -17px;
    }
  }
  .actions {
    @extend .text-right;
  }
}

trix-editor {
  @include form-element;
  height: auto !important;
}

.quill {
  min-height: 200px;
}

.ui-autocomplete {
  background: $input-background;
  border: $input-border;
  border-top: 0;
  .ui-menu-item a {
    color: $body-font-color;
    &.ui-state-focus {
      background: $secondary-color;
      color: $white;
    }
  }
}
