form {
  .required {
    color: $error-color;
    font-weight: bold;
  }
  .form-input:not(:placeholder-shown):invalid {
    border-color: $border-color-dark;
  }
  .field_with_errors input,
  .field_with_errors input:focus,
  .field_with_errors textarea,
  .field_with_errors textarea:focus,
  .field_with_errors select,
  .field_with_errors select:focus,
  .field_with_errors .input-group,
  .field_with_errors .ql-toolbar {
    border-color: $error-color !important;
  }
  .field_with_errors .ql-container {
    border-color: $error-color !important;
    margin-bottom: -1px !important;
  }
  .field_error_message {
    background: $error-color;
    color: $light-color;
    padding: 0 0.5rem;
    &.after-input-group {
      margin-top: -17px;
    }
  }
  .actions {
    @extend .text-right;
  }
}

.ql-container {
  margin-bottom: 1rem !important;
  .ql-editor {
    min-height: 200px;
  }
}

.ui-autocomplete {
  background: $bg-color-light;
  border: $border-width solid $border-color-dark;
  border-top: 0;
  .ui-menu-item a {
    color: $body-font-color;
    &.ui-state-focus {
      background: $secondary-color;
    }
  }
}
