<% content_for :title do 'Création ferme - ' end %>
<% content_for :pagename do 'new-user-farm' end %>
<div class="container">
  <div class="columns">
    <div class="column col-sm-12 col-8 col-mx-auto">
      <div class="box">
        <h2>Enregistrer votre ferme</h2>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
